<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css" integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/js/libs/table-sort.js"></script>
  </head>
  <body>
    <div class="container-fluid">

        <%- include('../../partials/admin/nav') %> 
          <div class="content" style="margin-top: 80px;">
            <div style="width: 500px; margin:auto">
              <div class="notification is-primary is-light" id="notification" style="display: none;">
                <button class="delete" onclick="dismiss()"></button>
                <p id="message-text"></p>
              </div>
            </div>
            <div style="margin: 48px 24px">
              <div class="level">
                <div class="level-left">
                  <h1 class="title is-4">Tenants</h1>
                </div>
                <div class="level-right">
                  <a class="button is-link" href="/admin/tenants/create">New Tenant</a>
                </div>
              </div>
              
              <div style="width: 500px; margin:auto">
                <div class="notification is-primary is-light" id="notification" style="display: none;">
                  <button class="delete" onclick="dismiss()"></button>
                  <p id="message-text"></p>
                </div>
              </div>
             
              <% if (tenants.length > 0) { %>
                <table class="table is-fullwidth" style="margin-top: 48px;" id="tenants">
                  <tr>
                    <th>Name</th>
                    <th>Administrator</th>
                    <th>Email</th>
                    <th>Primary Contact</th>
                    <th>Registerd on</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                  
                    <% tenants.forEach((tenant)=> { %>
                        <tr>
                            <td><%= tenant.name %> </td>
                            <td><%= tenant.first_name %> <%= tenant.last_name %></td>
                            <td><%= tenant.email %> </td>
                            <td><%= tenant.primary_contact %></td>
                            <td><%= moment(tenant.registered_on).format('D MMM YYYY') %></td>
                            <td><%= getTenantStatus(tenant.is_active) %></td>
                            <td>
                              <div class="is-grouped">
                                <a class="button is-small is-primary is-light" href="/admin/tenants/<%= tenant.id %>/view">View</a>
                                <a class="button is-small is-info is-light" >Edit</a>
                                <button class="button is-small is-danger is-light" onclick="removeTenant('<%= tenant.id %>')">Delete</button>
                              </div>
                              </td>
                        </tr>
                  <% }) %>
                  
                </table> 
              <% }else{ %>
                
                  <div class="notification is-light" id="notification">
                    <p id="message-text">There are <strong><%= tenants.length %></strong> tenants.</p>
                    
                  </div>
               
                <%}%>
            
              
      
            
      
            </div>
          </div>
      
          

    </div>
    <script src="/js/main.js"></script>
    <script src="/js/modals/main.js"></script>
    <script>
        const removeTenant = (id) => {
          const url = `/tenants/${id}`;
          const requestOptions = {
            method: "DELETE",
            headers: { "Content-Type": "application/json" },
          };
          fetch(url, requestOptions)
            .then((response) => response.json())
            .then((data) => {
              console.log(data)
              window.location.reload();
            });
          }
    </script>
  </body>
</html>
